<div style="text-align: center;">
  <h1>Dividend Taxation and Top-Income Inequality</h1>
  <h3>HEC Liege</h3>
  <h4><em>Lucas Dubois</em></h4>
</div>

Firstly, let us create our database by adding the WID's data for top income inequality. This database includes not only a plethora of country but several regions as well:

In [94]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from statsmodels.stats import diagnostic
from statsmodels.stats.sandwich_covariance import cov_hac
from statsmodels.stats.sandwich_covariance import se_cov
from stargazer.stargazer import Stargazer
import warnings
import re

path = '/Users/lucasdubois/Desktop/MASTERDATA/'

In [96]:

df = pd.read_csv(path + 'WID_income_inequality4.csv', sep=';', skiprows=1, engine='python')

df.columns = df.columns.str.strip()

prefixes = ("sptinc_z_", "shweal_z_")

code_country_map = {}
for col in df.columns:
    if isinstance(col, str) and col.startswith(prefixes):
        parts = col.split("\n")
        country = parts[-1].strip()
        code_country_map[col] = country

df = df.rename(columns=code_country_map)

df = df[df['Percentile'] == 'p99p100']

df.head()

,Percentile,Year,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,...,United Kingdom,Uruguay,USA,Uzbekistan,Vanuatu,Venezuela,Viet Nam,Yemen,Zambia,Zimbabwe
0,p99p100,1807,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,p99p100,1808,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,p99p100,1809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,p99p100,1810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,p99p100,1811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<p>
The paper by Roine et al., 2009 provides several empirical insights regarding the long-run determinants of top-income inequality. Their approach (FDGLS and DFD) is nothing short of similar to mine, thus making their contribuition particularly interesting. I intend to add their results as controls in my endeavor, in order to add more information to the models and hopefuly improve it. Note nonetheless that the long-run nature of this project and the sample (mostly developed countries) might render some controls not significant or of magnitude in the model, but that we can only know when trying.
From their results, the authors find the following determinants to be statistically significant:
</p>

- Financial Development (total capitalization as a sum of bank deposits and market cap.)  (+)
- Income per capita (GDP per capita) (+)
- Marginal taxes (-)

The gdp is in Euro and constant for 2023 (ppp)